h1 {
  text-align: center;
}

.gallery {
  padding: 1rem;
  border: 2px dotted grey;
}




.thumbnail-container {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.thumbnail-wrapper {
  overflow: hidden;
  width: 100%;
}

.thumbnails {
  display: flex;
  position: relative;
}

.thumbnails img {
  margin: 0 5px;
  cursor: pointer;
  transition: transform 0.3s, border-color 0.3s;
}

.thumbnails img.active {
  border: 2px solid #007BFF;
  transform: scale(1.1);
}

.nav-btn {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1;
  height: 100%;
  width: 40px;
}

.nav-btn.left {
  left: 0;
}

.nav-btn.right {
  right: 0;
}
